html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.text-center {
    text-align: center;
    border-left-color: aqua;
}

.navbar-brand {
    font-weight: bold;
}

.footer {
    position: fixed;
    left: auto;
    bottom: 0;
    width: fit-content;
    text-align: center;
}
